.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue;*/
    padding: 10px 60px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,600,600i,700|Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,600,600i,700|Shadows+Into+Light&display=swap");
@import url( 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald|Quicksand|Raleway|Roboto&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Raleway:300i,400,400i&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Raleway:300i,400,400i|Roboto+Condensed&display=swap');
/* line 1, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_extend.scss */

body {
    font-family: 'Quicksand', "Roboto", "Helvetica", "Arial", sans-serif;
    background: aliceblue;
}

.txt {
    font-family: 'Quicksand', "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3d464d;
    text-align: left;
}
.auth {
    display: block;
    margin: 8px 0 76px;
}
.FullName {
    width:100%
}
.block {
   /* width: 50%; */
    margin: 0 1PX;
    height: 58px !important ;
}
.authform {
    position: relative;
    /* height: 422PX; */
    position: relative;
    border-radius: 4PX;
    background: #ffffff !important;
    border-left: 2px solid #ccc;
}
.forgotpassword {
    position: absolute;
    bottom: 0;
    RIGHT: 0;
    padding: 6px 14PX;
}
.creataccountLink {
    padding: 0 12px;
    font-size: 13px !important;
    width: 100%;

}
.creataccountLink a {
    color: #3d464d;
}
.signInCountainner {
    display: inline-block;
    font-size: initial;
    width: 90%;
    margin: 15PX 30PX 15PX 20px;
}
.signIn {
    text-align: center;
}
.signInLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
label.txt.incorrect {
    color: red;
    text-align: center !important;
    display: block;
    margin-top: 40PX;
}
.flex-container > div {

    width: 100px;
    margin: 10px;
    font-size: 24px;
    background-color: aliceblue;
}
/* Bordered form */

form {
    margin: 25px 5px 25px 25px;
}
/* Full-width inputs */
input[type=date],
input[type=file],
input[type=password],
input[type=text] {
    width: 100%;
    padding: 8px 11px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3PX;
    font-size: 13PX;
}
.center {
    text-align: center;
}

/* Set a style for all buttons */
button {
    background-color: #F91842;
    color: white !important;
    padding: 7px 17px;
    margin: 8px 0 !important;
    border: none;
    cursor: pointer !important;
    width: 45%;
    float: right;
    border-radius: 3px !important;
    FONT-SIZE: 16PX !important;
}
.auth button {
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.grey {
    color: #3d464d;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px 0 16px 44px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
.creatAccount {
    background-color: transparent;
    text-decoration: underline;
    color: #3d464d;
    font-family: Quicksand, Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    MARGIN: 0;
}
.signInSignUp {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 14PX;
}
.wordCarousel {
    font-size: 46px;
    font-weight: 100;
    color: #607D8B;
}
.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
}
.wordCarousel div li {

    color: #F91842;
    font-weight: 500;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}
.flip2 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@keyframes flip2 {
    0% {
        margin-top: -180px;
    }
    5% {
        margin-top: -90px;
    }
    50% {
        margin-top: -90px;
    }
    55% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}
@keyframes flip3 {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}
@keyframes flip4 {
    0% {
        margin-top: -360px;
    }
    5% {
        margin-top: -270px;
    }
    25% {
        margin-top: -270px;
    }
    30% {
        margin-top: -180px;
    }
    50% {
        margin-top: -180px;
    }
    55% {
        margin-top: -90px;
    }
    75% {
        margin-top: -90px;
    }
    80% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}
button.creatAccount.creataccountLink {
    color: black !important;
  }